
#formulaire
{
  text-align: right;
}
img
{
  margin-top: 10px;
  margin-left: auto;
}

img /*le logo du restau*/
{
  margin-top:auto;
  margin-left: auto;
}

ul {
 padding:50px;
 padding: 0;
 margin:0;
 margin-right: 20px;
 margin-left: 20px;
 list-style-type:none;
 }
li {
 margin-left:2px;
 float:left; /*pour IE*/
 }
ul li a {
 display:block;
 float:left;
 width:100px;
 background-color:#CCCCCC;
 color:black;
 text-decoration:none;
 text-align:center;
 padding:5px;
 border:2px solid;
 /*pour avoir un effet "outset" avec IE :*/
 border-color:#DCDCDC #696969 #696969 #DCDCDC;
 }
ul li a:hover {
 background-color:#D3D3D3;
 border-color:#696969 #DCDCDC #DCDCDC #696969;
 }

 #header2
 {
display:block;
margin:auto;
position:relative;
width:700px;
}

 #facade
 {
   padding-top: 500px;
   margin-top: -450px;
   margin-bottom: 20px;
 }

 #trouver
{
  font-weight: bold;
  font-style: italic;
}

 #header4
 {
   height:80px;
   color: white;
   background: #772B2F; /* sa ces le footer qui vien tout en bas de la page*/
 }

#contact_form
{
  border:1px solid black;
  margin-left: 500px;
  margin-right: 500px;
  padding: 20px;

}
